@page "/dashboard/categories/list"

@using System.ComponentModel
@using AntDesign.TableModels
@using Toplearn_Blog.Shared.Dto.Category

<PageTitle>
    پنل مدیریت | لیست دسته بندی
</PageTitle>
<div class="card-body">
    <Breadcrumb Class="pb-3 border-bottom">
        <BreadcrumbItem>داشبورد</BreadcrumbItem>
        <BreadcrumbItem>دسته بندی</BreadcrumbItem>
        <BreadcrumbItem>لیست دسته بندی</BreadcrumbItem>
    </Breadcrumb>
    <div class="pt-3">
        <h6 class="pb-3 fw-bold">لیست دسته بندی ها</h6>
        <Spin Spinning="Loading">
            <Table TItem="CategoryDto" OnPageIndexChange="ChangePage" DataSource="@Categories" 
                PageIndex="@PageInfo.CurrentPage" Total="@PageInfo.AllItemsCount" PageSize="@PageInfo.Take">
                <PropertyColumn Title="شناسه" Property="c=>c.Id">
                    <a>@context.Id</a>
                </PropertyColumn>
                <PropertyColumn Title="نام" Property="c=>c.Name">
                    <a>@context.Name</a>
                </PropertyColumn>
                <ActionColumn Title="عملیات" Class="table-action">

                    <Popconfirm Title="آیا برای حذف این ردیف اطمینان دارید ؟"
                                OnConfirm="@(() => Remove(context))"
                                OkText="بله"
                                CancelText="خیر">
                        <button class="btn btn-danger">
                            <Icon Type="delete" Theme="outline" />
                        </button>
                    </Popconfirm>
                    <a href="/dashboard/categories/edit/@context.Id" class="btn btn-primary">
                         <Icon Type="highlight" Theme="outline" />
                    </a>
                </ActionColumn>
            </Table>

        </Spin>
    </div>
</div>
